[Unit]
Description=CarRental
Requires=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/testApp
ExecStart=/usr/bin/bash -lc 'bundle exec rails server -b {{rails_app_1_ip_private}}'
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target
